#body{
    margin: 10vh auto;
    height: 80vh;
    width: 50%; 
    text-align: center;
}

b{
    font-size: 5vh;
    font-weight: 800;
}

p{
    font-size: 3vh;
}

.hollow-button{
    margin: 0 auto;
    width: 30%;
    padding: 15px;
    font-size: x-large;
    color: #35A7FF;
    border: 2px;
    border-style: solid;
    border-color: #35A7FF;
    border-radius: 8px;
}

.hollow-button:hover{
    cursor: pointer;
}

img{
    margin-top: 8vh;
    height: 40vh;
    width: 30vw;
    z-index: 1;
    border-radius: 8px;
    position: relative;
}

.blue{
    height: 40vh;
    width: 30vw;
    background-color:#35A7FF;
    border-color: #35A7FF;
    border-radius: 8px;
    transform: translate(10.5vw, -80vh);
    position: relative;
    z-index: -1;
}

.gray{
    height: 40vh;
    width: 30vw;
    background-color: #E6E6E6;
    border-color: #E6E6E6;
    border-radius: 8px;
    transform: translate(9vw, -43vh);
    position: relative;
    z-index: -2;
}